{% extends 'base.html.twig' %}

{% block title %}Liste des coiffures et couleurs disponibles{% endblock %}

{% block body %}
<div class="container" style="margin-bottom: 11.5rem;">
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label}} alert-dismissible fade show"> 
                {{ message}}
            </div>
        {% endfor %}
    {% endfor %}
    <table class="table table-dark table-responsive table-striped table-hover col-12">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Couleur</th>
                <th class="text-end">Actions</th>
            </tr>
        </thead>
        <tbody>    
            {% for coiffure in coiffures %}    
            <tr>
                <td>{{ coiffure.name }}</td>
                <td>{{ coiffure.color }}</td>
                <td class="text-end">
                    <a href="{{path ('read_coiffure', {id: coiffure.id})}}" class="btn btn-info">Voir</a>
					<a href="{{path ('edit_coiffure', {id: coiffure.id})}}" class="btn btn-info">Modifier</a>
					<button class="btn btn-danger dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Supprimer</button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{path ('delete_coiffure', {id: coiffure.id})}}">Confirmer</a></li>
                    </ul>
				
				</td>
            </tr> 
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
